@model ServicioMontacargas.Models.EntradaSalidaModel

@{
    ViewData["Title"] = "Editar Registro";
    var iduser = Context.Session.GetString("IdUsuario");
}

<h1>Editar Registro : @Model.IdEntradaSalida</h1>
<div>
    @if (TempData["FailEntrada"] != null)
    {
        <div class="alert alert-danger">
            @TempData["FailEntrada"]
        </div>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEntradaSalida" />
            <input type="hidden" name="id" value="@Model.IdEntradaSalida" />
            <div class="form-group">
                <label asp-for="Personal" class="control-label"></label>
                <input asp-for="Personal" class="form-control" />
                <span asp-validation-for="Personal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrada" class="control-label"></label>
                <input asp-for="FechaEntrada" class="form-control" />
                <span asp-validation-for="FechaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdUser" class="form-control" value="@iduser" readonly />
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
