@model ServicioMontacargas.Models.ServicioPModel

@{
    ViewData["Title"] = "Servicio Prenventivo";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature-pad.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Nuevo Servicio Preventivo</h1>
@if (TempData.ContainsKey("ExitoServicioP"))
{
    <script>
        alert("@TempData["ExitoServicioP"]");
    </script>
}
@if (TempData.ContainsKey("FailServicioP"))
{
    <script>
        alert("@TempData["FailServicioP"]");
    </script>
}
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IdClientes" class="control-label"></label>
                <select asp-for="IdClientes" class="form-select" asp-items="ViewBag.IdClientes" required></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMontacargas" class="control-label"></label>
                <select asp-for="IdMontacargas" class="form-select" asp-items="ViewBag.IdMontacargas" required></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input type="datetime-local" asp-for="Fecha" class="form-control" required />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div><br>
            <h5>MOTOR</h5>
            <div class="form-group">
                <label asp-for="NivelAceiteMotor" class="control-label"></label>
                <select asp-for="NivelAceiteMotor" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="NivelAceiteMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiltroAceiteMotor" class="control-label"></label>
                <select asp-for="FiltroAceiteMotor" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FiltroAceiteMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementosAire" class="control-label"></label>
                <select asp-for="ElementosAire" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="ElementosAire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VálvulasPCV" class="control-label"></label>
                <select asp-for="VálvulasPCV" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="VálvulasPCV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limpieza" class="control-label"></label>
                <select asp-for="Limpieza" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Limpieza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fugas" class="control-label"></label>
                <select asp-for="Fugas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Fugas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapuchoBujia" class="control-label"></label>
                <select asp-for="CapuchoBujia" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CapuchoBujia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelloCapBujia" class="control-label"></label>
                <select asp-for="SelloCapBujia" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="SelloCapBujia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tiempo" class="control-label"></label>
                <select asp-for="Tiempo" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Tiempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaporizador" class="control-label"></label>
                <select asp-for="Vaporizador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Vaporizador" class="text-danger"></span>
            </div><br />
            <h5>SISTEMA DE CARBURACIÓN</h5>
            <div class="form-group">
                <label asp-for="ValvulaVacio" class="control-label"></label>
                <select asp-for="ValvulaVacio" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="ValvulaVacio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mezclador" class="control-label"></label>
                <select asp-for="Mezclador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Mezclador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepuestoVaporizador" class="control-label"></label>
                <select asp-for="RepuestoVaporizador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="RepuestoVaporizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepuestoMezclador" class="control-label"></label>
                <select asp-for="RepuestoMezclador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="RepuestoMezclador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestoValVacio" class="control-label"></label>
                <select asp-for="RespuestoValVacio" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="RespuestoValVacio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selenoide" class="control-label"></label>
                <select asp-for="Selenoide" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Selenoide" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Filtro" class="control-label"></label>
                <select asp-for="Filtro" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Filtro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanqueGas" class="control-label"></label>
                <select asp-for="TanqueGas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="TanqueGas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangueConex" class="control-label"></label>
                <select asp-for="MangueConex" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="MangueConex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FugasSistema" class="control-label"></label>
                <select asp-for="FugasSistema" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FugasSistema" class="text-danger"></span>
            </div><br />
            <h5>SISTEMA ELECTRICO</h5>
            <div class="form-group">
                <label asp-for="Alternador" class="control-label"></label>
                <select asp-for="Alternador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Alternador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BateriaTermi" class="control-label"></label>
                <select asp-for="BateriaTermi" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="BateriaTermi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indicadores" class="control-label"></label>
                <select asp-for="Indicadores" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Indicadores" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <h5>SISTEMA ENFRIAMIENTO</h5>
            <div class="form-group">
                <label asp-for="Anticongelante" class="control-label"></label>
                <select asp-for="Anticongelante" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Anticongelante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandaV" class="control-label"></label>
                <select asp-for="BandaV" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="BandaV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangueraRS" class="control-label"></label>
                <select asp-for="MangueraRS" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="MangueraRS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangueraRI" class="control-label"></label>
                <select asp-for="MangueraRI" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="MangueraRI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Radiador" class="control-label"></label>
                <select asp-for="Radiador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Radiador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ventilador" class="control-label"></label>
                <select asp-for="Ventilador" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Ventilador" class="text-danger"></span>
            </div><br />
            <h5>IGNICION</h5>
            <div class="form-group">
                <label asp-for="MotorA" class="control-label"></label>
                <select asp-for="MotorA" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="MotorA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bobina" class="control-label"></label>
                <select asp-for="Bobina" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Bobina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CablesB" class="control-label"></label>
                <select asp-for="CablesB" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CablesB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TapaD" class="control-label"></label>
                <select asp-for="TapaD" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="TapaD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RotorD" class="control-label"></label>
                <select asp-for="RotorD" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="RotorD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastillaC" class="control-label"></label>
                <select asp-for="PastillaC" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="PastillaC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distribuidor" class="control-label"></label>
                <select asp-for="Distribuidor" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Distribuidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwitchE" class="control-label"></label>
                <select asp-for="SwitchE" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="SwitchE" class="text-danger"></span>
            </div><br />
            <h5>TRANSMISION</h5>
            <div class="form-group">
                <label asp-for="EdoNivelA" class="control-label"></label>
                <select asp-for="EdoNivelA" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="EdoNivelA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiltroT" class="control-label"></label>
                <select asp-for="FiltroT" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FiltroT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FugasA" class="control-label"></label>
                <select asp-for="FugasA" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FugasA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mangueras" class="control-label"></label>
                <select asp-for="Mangueras" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Mangueras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CablePedal" class="control-label"></label>
                <select asp-for="CablePedal" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CablePedal" class="text-danger"></span>
            </div><br />
            <h5>DIRECCION</h5>
            <div class="form-group">
                <label asp-for="MangosDire" class="control-label"></label>
                <select asp-for="MangosDire" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="MangosDire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eslabon" class="control-label"></label>
                <select asp-for="Eslabon" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Eslabon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PernosEslabon" class="control-label"></label>
                <select asp-for="PernosEslabon" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="PernosEslabon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Llantas" class="control-label"></label>
                <select asp-for="Llantas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Llantas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirlosTurcas" class="control-label"></label>
                <select asp-for="BirlosTurcas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="BirlosTurcas" class="text-danger"></span>
            </div><br />
            <h5>SISTEMA HIDRAULICO</h5>
            <div class="form-group">
                <label asp-for="EdoyNivelA" class="control-label"></label>
                <select asp-for="EdoyNivelA" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="EdoyNivelA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FugasSH" class="control-label"></label>
                <select asp-for="FugasSH" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FugasSH" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <h5>SISTEMA DE FRENOS</h5>
            <div class="form-group">
                <label asp-for="NivelLiquidoF" class="control-label"></label>
                <select asp-for="NivelLiquidoF" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="NivelLiquidoF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CilindroM" class="control-label"></label>
                <select asp-for="CilindroM" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CilindroM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ajuste" class="control-label"></label>
                <select asp-for="Ajuste" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Ajuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purgar" class="control-label"></label>
                <select asp-for="Purgar" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Purgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FugasF" class="control-label"></label>
                <select asp-for="FugasF" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FugasF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrenoEst" class="control-label"></label>
                <select asp-for="FrenoEst" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="FrenoEst" class="text-danger"></span>
            </div><br />
            <h5>EQUIPO DE SEGURIDAD</h5>
            <div class="form-group">
                <label asp-for="AceiteDif" class="control-label"></label>
                <select asp-for="AceiteDif" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="AceiteDif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crucetas" class="control-label"></label>
                <select asp-for="Crucetas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Crucetas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LlantasTM" class="control-label"></label>
                <select asp-for="LlantasTM" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="LlantasTM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LucesTrab" class="control-label"></label>
                <select asp-for="LucesTrab" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="LucesTrab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlafonAssy" class="control-label"></label>
                <select asp-for="PlafonAssy" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="PlafonAssy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torreta" class="control-label"></label>
                <select asp-for="Torreta" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Torreta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlarmaReversa" class="control-label"></label>
                <select asp-for="AlarmaReversa" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="AlarmaReversa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Claxon" class="control-label"></label>
                <select asp-for="Claxon" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Claxon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extintor" class="control-label"></label>
                <select asp-for="Extintor" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Extintor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Espejos" class="control-label"></label>
                <select asp-for="Espejos" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Espejos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinturonS" class="control-label"></label>
                <select asp-for="CinturonS" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CinturonS" class="text-danger"></span>
            </div><br />
            <h5>GENERALES</h5>
            <div class="form-group">
                <label asp-for="RespaldoC" class="control-label"></label>
                <select asp-for="RespaldoC" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="RespaldoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horquillas" class="control-label"></label>
                <select asp-for="Horquillas" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Horquillas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asiento" class="control-label"></label>
                <select asp-for="Asiento" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Asiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Golpes" class="control-label"></label>
                <select asp-for="Golpes" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Golpes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tablero" class="control-label"></label>
                <select asp-for="Tablero" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Tablero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pintura" class="control-label"></label>
                <select asp-for="Pintura" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="Pintura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CubiertaP" class="control-label"></label>
                <select asp-for="CubiertaP" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="CubiertaP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioLyE" class="control-label"></label>
                <select asp-for="ServicioLyE" class="form-select" required>
                    <option value="Cambio">Cambio</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Bien">Bien</option>
                    <option value="Requiere/C/M/R">Requiere/C/M/R</option>
                </select>
                <span asp-validation-for="ServicioLyE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <textarea asp-for="Comentarios" class="form-control" rows="5" required> </textarea>
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
        </div>
    </div>
    <h5>ALMACEN</h5>
    <div id="productos-container">
        <div class="row producto">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Cantidad</label>
                    <input name="Productos[0].Cantidad" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">No. de Parte</label>
                    <input name="Productos[0].NoParte" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    <input name="Productos[0].Descripcion" class="form-control" />
                </div>
            </div>
            <div class="col-md-2"><br />
                <button type="button" class="btn btn-danger eliminar-producto">Eliminar Producto</button>
            </div>
        </div>
    </div>
    <br>
        <button id="agregar-producto" type="button" class="btn btn-secondary">Agregar Producto</button>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirmaJ" class="control-label"></label>
                <div>
                    <canvas id="signatureCanvas" width="400" height="200" style="border: solid 1px;" required></canvas>
                    <button type="button" onclick="clearSignature()">Borrar Firma</button>
                    <input type="hidden" asp-for="FirmaJ" id="hiddenFirmaJacsa" required />
                </div>
                <span asp-validation-for="FirmaJ" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirmaC" class="control-label"></label>
                <div>
                    <canvas id="signatureCanvas2" width="400" height="200" style="border: solid 1px;" required></canvas>
                    <button type="button" onclick="clearSignature2()">Borrar Firma</button>
                    <input type="hidden" asp-for="FirmaC" id="hiddenFirmaCliente" required />
                </div>
                <span asp-validation-for="FirmaC" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <br />
        <input type="submit" value="Crear" class="btn btn-success" />
    </div>
</form>


<div>
    <br />
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var contador = 0;

            $('#agregar-producto').click(function () {
                contador++;
                var nuevoProducto = $('.producto:first').clone();
                nuevoProducto.find('input').val('');
                nuevoProducto.find('input').each(function () {
                    var nombre = $(this).attr('name').replace('[0]', '[' + contador + ']');
                    $(this).attr('name', nombre);
                });
                nuevoProducto.find('.eliminar-producto').click(function () {
                    $(this).closest('.producto').remove();
                });
                $('#productos-container').append(nuevoProducto);
            });

            $('.eliminar-producto').click(function () {
                $(this).closest('.producto').remove();
                $('.producto').each(function (index) {
                    $(this).find('input').each(function () {
                        var nombre = $(this).attr('name').replace(/\[\d+\]/, '[' + index + ']');
                        $(this).attr('name', nombre);
                    });
                });
                contador--;
            });
        });
    </script>
    <script>
        var canvas = new SignaturePad(document.getElementById('signatureCanvas'), {
            backgroundColor: 'rgb(255, 255, 255)',
            penColor: 'rgb(0, 0, 0)'
        });

        var canvas2 = new SignaturePad(document.getElementById('signatureCanvas2'), {
            backgroundColor: 'rgb(255, 255, 255)',
            penColor: 'rgb(0, 0, 0)'
        });

        function clearSignature() {
            canvas.clear();
            document.getElementById('hiddenFirmaJacsa').value = '';
        }

        function clearSignature2() {
            canvas2.clear();
            document.getElementById('hiddenFirmaCliente').value = '';
        }

        canvas.onEnd = function () {
            document.getElementById('hiddenFirmaJacsa').value = canvas.toDataURL();
        };

        canvas2.onEnd = function () {
            document.getElementById('hiddenFirmaCliente').value = canvas2.toDataURL();
        };
    </script>
}
