@model ServicioMontacargas.Models.MontacargasModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Nuevo Montacargas</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Número de Serie</label>
                <input asp-for="NumeroSerie" class="form-control" required/>
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Equipo</label>
                <input asp-for="Equipo" class="form-control" required/>
                <span asp-validation-for="Equipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Número Económico</label>
                <input asp-for="NumeroEconomico" class="form-control" required/>
                <span asp-validation-for="NumeroEconomico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" required/>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" required />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">            
            <div class="form-group">
                <label asp-for="HorometroMtto" class="control-label">Mtto Anterior</label>
                <input asp-for="HorometroMtto" class="form-control" required />
                <span asp-validation-for="HorometroMtto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horometro" class="control-label"></label>
                <input asp-for="Horometro" class="form-control" required />
                <span asp-validation-for="Horometro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasMtto" class="control-label">Mtto Siguiente</label>
                <input asp-for="HorasMtto" class="form-control" required />
                <span asp-validation-for="HorasMtto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estatus</label>
                <select asp-for="Status" class="form-select" required>
                    <option value="" selected disabled>--Seleccionar--</option>
                    <option value="En renta">En renta</option>
                    <option value="Disponible">Disponible</option>
                    <option value="En reparación">En reparación</option>
                    <option value="Baja">Baja</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente" class="control-label">Cliente</label>
                <input asp-for="cliente" class="form-control" required />
                <span asp-validation-for="cliente" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <br />
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>


<div>
    <br />
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
