@model ServicioMontacargas.Models.MontacargasModel

@{
    ViewData["Title"] = "Editar Montacargas";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Editar Montacargas @Model.NumeroEconomico</h1>
<hr />
<form asp-controller="Montacarga" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">

            <input type="hidden" name="id" value="@Model.IdMontacargas"/>
            <input type="hidden" asp-for="IdMontacargas"/>

            <div class="form-group">
                <label class="control-label">Número de Serie</label>
                <input asp-for="NumeroSerie" class="form-control" required />
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Equipo</label>
                <input asp-for="Equipo" class="form-control" required />
                <span asp-validation-for="Equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Número Económico</label>
                <input asp-for="NumeroEconomico" class="form-control" required />
                <span asp-validation-for="NumeroEconomico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" required />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" required />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="tipo" class="control-label">Tipo</label>
                <select asp-for="tipo" class="form-select" required>
                    <option value="" selected disabled>--Seleccionar--</option>
                    <option value="Cushion">Cushion</option>
                    <option value="Neumatico">Neumatico</option>
                </select>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacidad" class="control-label">Capacidad</label>
                <select asp-for="capacidad" class="form-select" required>
                    <option value="" selected disabled>--Seleccionar--</option>
                    <option value="1.8 Ton">1.8 Ton</option>
                    <option value="2.0 Ton">2.0 Ton</option>
                    <option value="2.5 Ton">2.5 Ton</option>
                    <option value="3.0 Ton">3.0 Ton</option>
                    <option value="3.2 Ton">3.2 Ton</option>
                    <option value="3.5 Ton">3.5 Ton</option>
                    <option value="4.0 Ton">4.0 Ton</option>
                    <option value="4.5 Ton">4.5 Ton</option>
                    <option value="5.0 Ton">5.0 Ton</option>
                    <option value="5.5 Ton">5.5 Ton</option>
                    <option value="6.0 Ton">6.0 Ton</option>
                    <option value="7.0 Ton">7.0 Ton</option>
                </select>
                <span asp-validation-for="capacidad" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="fases" class="control-label"></label>
                <select asp-for="fases" class="form-select" required>
                    <option value="" selected disabled>--Seleccionar--</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                </select>
                <span asp-validation-for="fases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorometroMtto" class="control-label">Mtto Anterior</label>
                <input asp-for="HorometroMtto" class="form-control" required />
                <span asp-validation-for="HorometroMtto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horometro" class="control-label"></label>
                <input asp-for="Horometro" class="form-control" required />
                <span asp-validation-for="Horometro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasMtto" class="control-label">Mtto Siguiente</label>
                <input asp-for="HorasMtto" class="form-control" required />
                <span asp-validation-for="HorasMtto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estatus</label>
                <select asp-for="Status" class="form-select" required>
                    <option value="" disabled>--Seleccionar--</option>
                    <option value="En renta">En renta</option>
                    <option value="Disponible">Disponible</option>
                    <option value="En reparación">En reparación</option>
                    @*<option value="Baja">Baja</option>*@
                    <option value="Mantenimiento">Mantenimiento</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente" class="control-label">Cliente</label>
                <input asp-for="cliente" class="form-control" required />
                <span asp-validation-for="cliente" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>


<div>
    <br />
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Manejar los eventos 'input' en los campos HorometroMtto y Horometro
            $('#HorometroMtto, #Horometro').on('input', function () {
                // Obtener los valores actuales de HorometroMtto y Horometro
                var horometroMtto = parseFloat($('#HorometroMtto').val()) || 0;
                var horometro = parseFloat($('#Horometro').val()) || 0;

                // Calcular las HorasMtto
                var horasMtto = horometroMtto - horometro + 500;

                // Actualizar el valor de HorasMtto
                $('#HorasMtto').val(horasMtto);
            });
        });
    </script>
}
