thead input {
    width: 100%;
    background-color: #FFFFFF !important
}

.btn-exportar-excel {
    background-color: #198754 !important;
    color: white !important;
}

.btn-exportar-pdf {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn-exportar-print {
    background-color: #00a7c9 !important;
    color: white !important;
}
.btn-colvis {
    background-color: #898989 !important;
    color: white !important;
}

tr, td {
    text-align: center;
}
.table-hover tbody tr:hover {
    background-color: #8888B6 !important; /* Cambia esto al color que desees */
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    width: auto;
    margin: 0 auto;
}

/* Ajusta el ancho de la lista de columnas y el texto */
.three-column .buttons-columnVisibility {
    max-height: 400px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

/* Ajusta el ancho de los elementos de la lista */
.three-column .dt-button-collection .dt-button {
    width: 100%;
    text-align: left;    
    white-space: normal;
    overflow: hidden;
}

    /* Ajusta el estilo de los textos según sea necesario */
    .three-column .dt-button-collection .dt-button span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Estilo para el scroll horizontal de DataTables */
.dataTables_wrapper {
    overflow-x: auto;
}

/* Barra de desplazamiento horizontal */
.dataTables_scrollBody::-webkit-scrollbar {
    height: 12px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #000;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: #fff;
}

/* Flechas de desplazamiento horizontal */
.dataTables_scrollBody::-webkit-scrollbar-button {
    display: 5;
}

